

.khung-chat{
    width: 650px;
    height: 594px;
    border-width: 1px;
    border:1px solid rgba(0, 0, 0, 0.1);

}
.hihi{
    box-sizing: border-box;
    margin: 10px;
}

.chat{
    overflow-y: auto;
    overflow-x: hidden;
    /* background-clip:border-box; */
    border-bottom-color:rgb(3, 3, 3);
    height: 400px;
}
.row-chat{
    padding: 4px 24px;
}

#kkk{
    width: 24px;
    height: 24px;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    flex-basis:auto;
    /* margin-right:16px; */
    font-size:13px;
    padding: 0px;
    flex-basis:auto;

}

.comment{
    align-self:center;
    padding: 0px 0px;
    font-size:13px;
    width: auto;
    height: auto;
    /* font-family: 'Roboto', 'Arial', 'sans-serif'; */

}

.comment1{
    margin-right: 8px;
    color: rgba(17, 17, 17, 0.6);
    font-size: 13px;
    font-weight:500;
    font-family: Roboto, Arial, sans-serif;
}

.comment2{
    width: auto;
    height: auto;
    line-height:16px;
}

.mk-chat-content-con{
    padding: 16px;
}

.mk-chat-content-con1{
   margin:0px 8px;
}